* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: Helvetica,Arial,sans-serif;
}

#logo {
    margin: 10px 10px 10px 145px;
    width: 90px;
    float: left;
}

.navbarBorder {
    border-right: 0.5px #c2c2c2 solid;
    border-left: 0.5px #c2c2c2 solid;
    /* border-bottom: 0.5px #c2c2c2 solid;
    border-top: 0.5px #c2c2c2 solid; */
    display: flex;
    flex-wrap: wrap;
    float: left;
    height: 45px;
    
}
.navbarBorder a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.navbarText {
    font-weight: bold;
    font-size: 90%;
    padding: 15px;
    height: 15px;
    float: left;
}
.navbarIcons {
    font-weight: bold;
    font-size: 95%;
    padding: 10px;
    height: 25px;
    float: left;
}

#signinImage {
    margin: 8px 8px 11px 6px;
    float: left;
}
#signinText {
    font-weight: bold;
    font-size: 95%;
    position: relative;
    top: 13px;
    padding-right: 60px;
}

#bell {
    float: inline-end;
    position: relative;
    bottom: 4px;
}

#moreIcon {
    /* display: inline-block; */
    margin-bottom: 10px;
    margin-left: 10px;
}

#searchBar {
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 3px;
    margin: 9px 0 9px 9px;
    float: left;
}
#searchBarIcon {
    width: 20px;
    background-color: white;
    margin: 9px 9px 12px 0;
    padding: 2px;
}

#newsImage {
    align-content: center;
    /* width: 70%; */
}
h1 {
    margin: 0%;
    padding: 0%;
    color: black;
    font-weight: bold;
    font-size:200%;
    margin-left: 140px;
    padding-top: 10px;
}

p {
    margin-left: 140px;
    padding-top: 10px;
}

.bottom {
    background-color: #2d2d2d;
    color: white;
    /* margin: 0px,0px,10px,0px */
}

/*HOVER*/
.navbarBorder:hover {  box-shadow: 0 4px black}
.blue:hover {  box-shadow: 0 4px rgb(4, 117, 215)}
.blueBell:hover {  box-shadow: 0 4px rgb(4, 117, 215)}
.red:hover {  box-shadow: 0 4px rgb(203, 22, 22)}
.orange:hover {  box-shadow: 0 4px rgb(223, 96, 11)}
.green:hover {  box-shadow: 0 4px rgb(74, 208, 17)}
.yellow:hover {  box-shadow: 0 4px rgb(249, 249, 0)}
.pink:hover {  box-shadow: 0 4px rgb(228, 9, 148)}
.lightBlue:hover {  box-shadow: 0 4px rgb(18, 209, 223)}

@media screen and (max-width: 600px) {
    h1 {
        color: #2d2d2d;
        margin-left: 10px
        
    }
    nav {
        width: 25%;
        float:right;
    }
    /* .logo .moreIcon {
        transform: scale(0);
    } */
}



